@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Playfair Display", serif;
  background-color: #010203;
  color: white;
}

/* Remove Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.text-gold {
  display: inline-block;
  background: linear-gradient(
    90deg,
    #ae8625 0%,
    #f7ef8a 32%,
    #d2ac47 64%,
    #edc967 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-golden {
  border-image: linear-gradient(
      90deg,
      #ae8625 0%,
      #f7ef8a 32%,
      #d2ac47 64%,
      #edc967 100%
    )
    1;
}
