@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font-family: "Playfair Display", serif;
  background-color: #010203;
}

h2 {
  display: inline;
  background: linear-gradient(
    90deg,
    #ae8625 0%,
    #f7ef8a 32%,
    #d2ac47 64%,
    #edc967 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
